@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 가로,세로 화면비율 + 중앙정렬 */
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  /* tailwind 문법을 굳이 사용할면 이렇게  */
  @apply bg-zinc-900 text-gray-50;

  #root {
    /* max-width  */
    @apply w-full max-w-screen-2xl;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
